body{
    background-color: rgb(235, 26, 207);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}
h1 {
    color: rgb(233, 23, 170);
    margin-bottom: 20px;
}
p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}
button {
    background-color: indigo;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: darkblue;
}